{% extends 'base/base.html' %}
{% load static %}

{% block title %} MTA School {% endblock %}

{% block content %}

<h3 class="text-light text-center bg-danger">You have to login to access this page</h3>
<div class="container d-flex justify-content-center">
    <div class="p-4 col-9 mt-5 shadow-lg">
      <h2 class="mb-4 text-center">Choose to Login</h2>
      <div class="row justify-content-around">
        <a href="{% url 'base:student_login' %}" class="col-5 btn btn-primary m-1">Student</a>
        <a href="{% url 'base:teacher_login' %}" class="col-5 btn btn-primary m-1">Teacher</a>
        <a href="{% url 'base:parent_login' %}" class="col-5 btn btn-primary m-1">Parent</a>
        <a href="{% url 'base:staff_login' %}" class="col-5 btn btn-primary m-1">Staff</a>
      </div>
    </div>
  </div>
{% endblock %}