{% extends 'base/base.html' %}

{% block title %} Login {% endblock %}

{% block content %}

<div class="container">
    <div class="row justify-content-center">
      <div class="col-9 col-sm-6 col-lg-4 mt-5 p-4 rounded gradient text-light">
        <h2 class="mb-4 text-center">Change Password</h2>
        <form method="Post" action="{% url 'base:change_password' %}">
            {% csrf_token %}
            {% for message in messages %}
            <div class="alert {%if message.tags == 'success' %} alert-success {% else %} alert-danger {% endif %}">
                {{ message }}
            </div>
            {% endfor %}

            <label for="id_current_password">Current Password:</label>
            <input type="password" name="current_password" value="" class="form-control" placeholder="Your Current password" required="" id="id_current_password">
            
            <label for="id_new_password">New Password:</label>
            <input type="password" name="new_password" value="" class="form-control" placeholder="New password" required="" id="id_new_password">
            
            <label for="id_confirm_password">confirm Password:</label>
            <input type="password" name="confirm_password" value="" class="form-control" placeholder="New password again" required="" id="id_confirm_password">
      
            <div class="class="d-grid gap-2 d-md-block"">
                <button type="submit" class="btn btn-primary mt-3 btn-block">Change</button>
            </div>
        </form>
      </div>
    </div>
  </div>
  
{% endblock %}