{% extends 'base/base.html' %}
{% load static %}

{% block title %} MTA School {% endblock %}

{% block content %}

<div class="container p-5">
    <div class="row d-flex justify-content-around">
        <h2 class="p-1 col-8">Dashboard</h2>
        <a href="{% url 'base:result_dashboard' 'all' %}" class="col-3 btn btn-primary mx-2">Result Dashboard</a>
    </div>
    <hr>
    <div class="shadow-xlg">
        {% for message in messages %}
            <div class="alert {%if message.tags == 'success' %} alert-success {% else %} alert-danger {% endif %}">{{ message }}</div>
        {% endfor %}
        <table class="table">
            <thead class="table-primary">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Occupation</th>
                <th scope="col">All</th>
                <th scope="col">Males</th>
                <th scope="col">Females</th>
            </tr>
            </thead>
            <tbody>
                <tr class="dashboard-row tr" href="{% url 'base:student_dashboard' 'all' %}">
                    <th scope="row">1</th>
                    <td>Students</td>
                    <td>{{ students.count }}</td>
                    <td>{{ male_students.count }}</td>
                    <td>{{ female_students.count }}</td>
                </tr>
                <tr class="dashboard-row tr" href="{% url 'base:teacher_dashboard'%}">
                    <th scope="row">2</th>
                    <td>Teachers</td>
                    <td>{{ teachers.count }}</td>
                    <td>{{ male_teachers.count }}</td>
                    <td>{{ female_teachers.count }}</td>
                </tr>
                <tr class="dashboard-row tr" href="{% url 'base:staff_dashboard' %}">
                    <th scope="row">3</th>
                    <td>Staffs</td>
                    <td>{{ staffs.count }}</td>
                    <td>{{ male_staffs.count }}</td>
                    <td>{{ female_staffs.count }}</td>
                </tr>
                <tr class="dashboard-row tr" href="{% url 'base:parent_dashboard' %}">
                    <th scope="row">4</th>
                    <td>Parents</td>
                    <td>{{ parents.count }}</td>
                    <td> - </td>
                    <td> - </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

{% endblock %}