{% extends 'base/base.html' %}
{% load static %}

{% block title %} MTA School {% endblock %}

{% block content %}

<div class="container p-5">
    <div class="shadow-xlg">
        <table class="table">
            <thead class="table-primary">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Occupation</th>
                <th scope="col">All</th>
                <th scope="col">Males</th>
                <th scope="col">Females</th>
                <th scope="col">Register</th>
            </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>Teachers</td>
                    <td>{{ teachers.count }}</td>
                    <td>{{ male_teachers.count }}</td>
                    <td>{{ female_teachers.count }}</td>
                    <td><a href="#" class="btn btn-primary">New Teacher</a></td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>Students</td>
                    <td>{{ students.count }}</td>
                    <td>{{ male_students.count }}</td>
                    <td>{{ female_students.count }}</td>
                    <td><a href="{% url 'base:student_register' %}" class="btn btn-primary">New Student</a></td>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td>Staffs</td>
                    <td>{{ staffs.count }}</td>
                    <td>{{ male_staffs.count }}</td>
                    <td>{{ female_staffs.count }}</td>
                    <td><a href="#" class="btn btn-primary">New Staff</a></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
{% endblock %}