{% extends 'base/base.html' %}
{% load static %}

{% block title %} MTA School {% endblock %}

{% block content %}

<div class="container p-5">
    <div class="row">
        <h2 class="p-1 col-8">Parents of MTA</h2>
        <a href="{% url 'base:parent_register' %}" class="col-4 btn btn-primary">Register New Parent</a>
    </div>
    <hr>
    <div class="shadow-xlg">
        {% for message in messages %}
            <div class="alert {%if message.tags == 'success' %} alert-success {% else %} alert-danger {% endif %}">{{ message }}</div>
        {% endfor %}
        <table class="table">
            <thead class="table-primary">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">parent Id</th>
                <th scope="col">Phone</th>
            </tr>
            </thead>
            <tbody>
                {% for parent in parents %}
                    <tr class="dashboard-row"  href="{% url 'base:parent_update' parent.parent_id %}">
                        <th scope="row">{{ forloop.counter }}</th>
                        <td>{{ parent.name }}</td>
                        <td>{{ parent.parent_id }}</td>
                        <td>{{ parent.phone }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>


<script>
    const rows = document.querySelectorAll('tr');

    rows.forEach(row => {
        row.addEventListener('click', () => {
            window.location.href = row.getAttribute('href');
        });
    });
</script>
{% endblock %}