{% extends 'base/base.html' %}
{% load static %}

{% block title %} MTA School {% endblock %}

{% block content %}

<div class="container p-5">
    <div class="row">
        <h2 class="p-1 col-8">Parents of MTA</h2>
        <a href="{% url 'base:parent_register' %}" class="col-4 btn btn-primary">Register New Parent</a>
    </div>
    <hr>
    <div class="shadow-xlg">
        <table class="table">
            <thead class="table-primary">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">parent Id</th>
                <th scope="col">Phone</th>
            </tr>
            </thead>
            <tbody>
                {% for parent in parents %}
                    <tr class="dashboard-row">
                        <th scope="row">{{ forloop.counter }}</th>
                        <td>{{ parent.name }}</td>
                        <td>{{ parent.parent_id }}</td>
                        <td>{{ parent.phone }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}