{% extends 'base/base.html' %}
{% load static %}

{% block title %} MTA School {% endblock %}

{% block content %}

<div class="container p-5">
  <div class="container cont shadow-xlg">
    <div>
      <h3>Register {{type}}</h3>

      <form method="post" action="{% url 'base:{{type}}_register' %}">
        {% csrf_token %}

        {% for message in messages %}
            <div class="alert {%if message.tags == 'success' %} alert-success {% else %} alert-danger {% endif %}">{{ message }}</div>
        {% endfor %}

        {% for field in form %}
        <label for="{{field.id_for_label}}">{{ field.label }}:</label>
            {{field}}
            
            {% if field.errors %}
                {{field.errors|join:', '}}
            {% endif %}
        {% endfor %}
    

        <button type="submit" class="btn btn-primary">Register</button>
      </form>
    </div>
  </div>
</div>
{% endblock %}