{% extends 'base/base.html' %}
{% load static %}

{% block title %} MTA School {% endblock %}

{% block content %}

<div class="container p-5">
    <div class="row d-flex justify-content-around">
        <h2 class="p-1 col-8">Dashboard</h2>
        <a href="{% url 'base:result_dashboard' 'all' %}" class="col-3 btn btn-primary mx-2">Result Dashboard</a>
    </div>
    <hr>
    <div class="row mb-4 mx-2">
        <a href="{% url 'base:publish_result' %}" class="col-5 btn btn-primary mx-2">Publish result from File</a>
        {% if messages %}
            <button class=" col-5 mx-2 btn btn-danger mb-3" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">
                click to see Error messages.
            </button>

            <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
                <div class="offcanvas-header">
                    <h5 id="offcanvasRightLabel">Error messages</h5>
                    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>
                <div class="offcanvas-body">
                    {% for message in messages %}
                        <div class="alert {%if message.tags == 'success' %} alert-success {% else %} alert-danger {% endif %}">{{ message }}</div>
                    {% endfor %}
                </div>
            </div>
        {% endif %}
    </div>
    <div class="shadow-xlg">
        {% if success_count == count %}
            <div class="alert alert-success">
                Result is published for all students!
            </div>
        {% elif success_count == 0 %}
            <div class="alert alert-danger">
                Result is published for No student!
            </div>
        {% else %}
        <div class="alert alert-success">
            Result published for {{ success_count }} students out of {{count}}.
        </div>
        {% endif %}
        
        <table class="table">        
            <hr>
            <h4 class="p-1 col-8">Below are the Students you registered now.</h4>
            <thead class="table-primary">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Student ID</th>
                <th scope="col">Grade</th>
                <th scope="col">Physics</th>
                <th scope="col">Biology</th>
                <th scope="col">Chemistry</th>
                <th scope="col">Average</th>
                <th scope="col">Rank</th>
            </tr>
            </thead>
            <tbody>
                {% for score in scores %}
                    <tr class="dashboard-row" href="{% url 'base:student_profile' score.student.student_id %}">
                        <th scope="row">{{ forloop.counter }}</th>
                        <td>{{ score.student.name }}</td>
                        <td>{{ score.student.student_id }}</td>
                        <td>{{ score.student.grade }}</td>
                        <td>{{ score.physics }}</td>
                        <td>{{ score.biology }}</td>
                        <td>{{ score.chemistry }}</td>
                        <td>{{ score.average }}</td>
                        <td>{{ score.rank }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}