{% extends 'base/base.html' %}
{% load static %}

{% block title %} MTA School {% endblock %}

{% block content %}
 
<div class="container p-5">
    <h2 class="p-1">Teachers of MTA</h2>
    <hr>
    <div class="row d-flex justify-content-around mb-4 mx-2">
        <a href="{% url 'base:teacher_register' %}" class="col-5 btn btn-primary mx-2">Register New Teacher</a>
        <a href="{% url 'base:teacher_register_with_file' %}" class="col-5 btn btn-primary mx-2">Register With File</a>
    </div>
    <div class="shadow-xlg">
        {% for message in messages %}
            <div class="alert {%if message.tags == 'success' %} alert-success {% else %} alert-danger {% endif %}">{{ message }}</div>
        {% endfor %}
        <table class="table">
            <thead class="table-primary">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Teacher Id</th>
                <th scope="col">Gender</th>
                <th scope="col">Department</th>
                <th scope="col">experience</th>
                <th scope="col">Phone</th>
            </tr>
            </thead>
            <tbody>
                {% for teacher in teachers %}
                    <tr class="dashboard-row"  href="{% url 'base:teacher_update' teacher.teacher_id %}">
                        <th scope="row">{{ forloop.counter }}</th>
                        <td>{{ teacher.name }}</td>
                        <td>{{ teacher.teacher_id }}</td>
                        <td>{{ teacher.gender }}</td>
                        <td>{{ teacher.department }}</td>
                        <td>+{{ teacher.experience }} years</td>
                        <td>{{ teacher.phone }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}