{% extends 'base.html' %}

{% block title %} Login {% endblock %}

{% block content %}

<div class="container">
    <div class="row justify-content-center">
      <div class="col-9 col-sm-6 col-lg-4 mt-5 cont gradient text-light">
        <h2 class="mb-4 text-center">Login</h2>
        {% if error_message %}
            <p>{{error_message}}</p>
        {% endif %}
        <form method="Post" action="{% url 'base:staff_login' %}">
            {% csrf_token %}
            <div class="mb-3">
                <label for="text" class="form-label">Staff Id</label>
                <input type="text" class="form-control" id="text" name="staff_id" placeholder="27****">
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input type="password" class="form-control" id="password" name="password" placeholder="Password">
            </div>
            <div class="mb-3 form-check">
                <input type="checkbox" class="form-check-input" id="remember-me">
                <label class="form-check-label" for="remember-me">Remember me</label>
            </div>
            <button type="submit" class="btn btn-primary">Login</button>
        </form>
      </div>
    </div>
  </div>
  
{% endblock %}