{% extends 'base/base.html' %}
{% load static %}

{% block title %} MTA Acadamics {% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="p-4 shadow-lg">
        <h1 class="text-center">2015 Student Statistcs</h1>
        <hr>
        <div class="bg-primary mb-4">
            <div class="container text-center p-4">
                <table class="table">
                    <thead class="table-primary">
                        <tr>
                            <th scope="col">Occupation</th>
                            <th scope="col">All</th>
                            <th scope="col">Males</th>
                            <th scope="col">Females</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="dashboard-row" href="{% url 'base:student_dashboard' 'all' %}">
                            <td>Students</td>
                            <td>{{ students.count }}</td>
                            <td>{{ male.count }}</td>
                            <td>{{ female.count }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="container">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio illum modi aspernatur dolor ab facilis odio. Esse 
                modi placeat laboriosam praesentium veritatis voluptatibus quod blanditiis, error optio corrupti nostrum, ipsam
                mollitia dolor molestias! Voluptatem eligendi similique magnam dolorum in vel asperiores quam modi doloribus!</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio illum modi aspernatur dolor ab facilis odio. Esse 
            modi placeat laboriosam praesentium veritatis voluptatibus quod blanditiis, error optio corrupti nostrum, ipsam
            mollitia dolor molestias! Voluptatem eligendi similique magnam dolorum in vel asperiores quam modi doloribus!</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio illum modi aspernatur dolor ab facilis odio. Esse 
                modi placeat laboriosam praesentium veritatis voluptatibus quod blanditiis, error optio corrupti nostrum, ipsam
                mollitia dolor molestias! Voluptatem eligendi similique magnam dolorum in vel asperiores quam modi doloribus!</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio illum modi aspernatur dolor ab facilis odio. Esse 
            modi placeat laboriosam praesentium veritatis voluptatibus quod blanditiis, error optio corrupti nostrum, ipsam
            mollitia dolor molestias! Voluptatem eligendi similique magnam dolorum in vel asperiores quam modi doloribus!</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio illum modi aspernatur dolor ab facilis odio. Esse 
                modi placeat laboriosam praesentium veritatis voluptatibus quod blanditiis, error optio corrupti nostrum, ipsam
                mollitia dolor molestias! Voluptatem eligendi similique magnam dolorum in vel asperiores quam modi doloribus!</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio illum modi aspernatur dolor ab facilis odio. Esse 
                modi placeat laboriosam praesentium veritatis voluptatibus quod blanditiis, error optio corrupti nostrum, ipsam
                mollitia dolor molestias! Voluptatem eligendi similique magnam dolorum in vel asperiores quam modi doloribus!
            </p>
        </div>
    </div>
</div>



{% endblock %}