{% extends 'base.html' %}
{% load static %}

{% block title %} MTA Acadamics {% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row">    
        <div class="col-3 bg-secondary rounded p-4 text-light">
            <div class="sidebar shadow bg-dark rounded "> 
                <h1>Navigate</h1>
                <hr>
                <ul class="nav flex-column">
                    <li class="nav-item text-light">
                    <h6>Student Statistics</h6>
                        <ul class="nav flex-column ">
                            <li class="nav-item text-light"><a class="nav-link" href="#">Overall</a></li>
                            <li class="nav-item text-light"><a class="nav-link" href="#">Gender</a></li>
                            <li class="nav-item text-light"><a class="nav-link" href="#">Each class</a></li>
                        </ul>
                    </li>
                    <li class="nav-item text-light">
                        <h6>Student Statistics</h6>
                        <ul class="nav flex-column ">
                        <li class="nav-item text-light"><a class="nav-link" href="#">Overall</a></li>
                        <li class="nav-item text-light"><a class="nav-link" href="#">Gender</a></li>
                        <li class="nav-item text-light"><a class="nav-link" href="#">Each class</a></li>
                        </ul>
                    </li>
                    <li class="nav-item text-light">
                        <h6>Student Statistics</h6>
                        <ul class="nav flex-column ">
                        <li class="nav-item text-light"><a class="nav-link" href="#">Overall</a></li>
                        <li class="nav-item text-light"><a class="nav-link" href="#">Gender</a></li>
                        <li class="nav-item text-light"><a class="nav-link" href="#">Each class</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-9">
            <div class="container">
                <h1>Some numbers</h1>
                <hr>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio illum modi aspernatur dolor ab facilis odio. Esse 
                    modi placeat laboriosam praesentium veritatis voluptatibus quod blanditiis, error optio corrupti nostrum, ipsam
                    mollitia dolor molestias! Voluptatem eligendi similique magnam dolorum in vel asperiores quam modi doloribus!</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio illum modi aspernatur dolor ab facilis odio. Esse 
                    modi placeat laboriosam praesentium veritatis voluptatibus quod blanditiis, error optio corrupti nostrum, ipsam
                    mollitia dolor molestias! Voluptatem eligendi similique magnam dolorum in vel asperiores quam modi doloribus!</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio illum modi aspernatur dolor ab facilis odio. Esse 
                    modi placeat laboriosam praesentium veritatis voluptatibus quod blanditiis, error optio corrupti nostrum, ipsam
                    mollitia dolor molestias! Voluptatem eligendi similique magnam dolorum in vel asperiores quam modi doloribus!</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio illum modi aspernatur dolor ab facilis odio. Esse 
                    modi placeat laboriosam praesentium veritatis voluptatibus quod blanditiis, error optio corrupti nostrum, ipsam
                    mollitia dolor molestias! Voluptatem eligendi similique magnam dolorum in vel asperiores quam modi doloribus!</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio illum modi aspernatur dolor ab facilis odio. Esse 
                    modi placeat laboriosam praesentium veritatis voluptatibus quod blanditiis, error optio corrupti nostrum, ipsam
                    mollitia dolor molestias! Voluptatem eligendi similique magnam dolorum in vel asperiores quam modi doloribus!</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio illum modi aspernatur dolor ab facilis odio. Esse 
                    modi placeat laboriosam praesentium veritatis voluptatibus quod blanditiis, error optio corrupti nostrum, ipsam
                    mollitia dolor molestias! Voluptatem eligendi similique magnam dolorum in vel asperiores quam modi doloribus!
                </p>
            </div>
            
        </div>
    </div>
</div>



{% endblock %}