{% extends 'base/base.html' %}
{% load static %}

{% block title %} MTA School {% endblock %}

{% block content %}

{% for message in messages %}
    <div class="alert {%if message.tags == 'success' %} alert-success {% else %} alert-danger {% endif %}">{{ message }}</div>
{% endfor %}
<div class="container text-center p-4">
    <div class="row p-2 justify-content-center">
        <div class="col-8 col-md-3 rounded shadow-lg p-2">
            <img src="{{ student.image_url }}" alt="Student's Image" class="d-block img-fluid rounded" alt="...">
            <hr>
            <div class="mt-4 text-left">
                <p>Name - {{ student.name }}</p>
                <p>Student Id - {{ student.student_id }}</p>
                <p>Gender - {{ student.gender }}</p>
                <p>Class - {{ student.grade }}</p>
                <p>Parent Phone - {{ student.parent_phone }}</p>
            </div>
        </div>
        <div class="col-12 col-md-8 p-4 shadow-lg rounded">
            <div class="rounded p-5 ">
                {% if scores %}
                    {% for score in scores %}
                        <div class="container shadow-lg p-4 rounded">
                            <h5>Your Score for the {{ score.semester }}</h5>
                            <hr>
                            {% if score.physics %}
                                <div class="row">
                                    <h6 class="col-5">Physics: </h6>
                                    <div class="progress col-7 mb-4 p-0" role="progressbar" aria-label="Example with label" aria-valuenow="{{score.physics}}" aria-valuemin="30" aria-valuemax="100">
                                        <div class="progress-bar bg-Info" style="width:{{score.physics}}%;">{{score.physics}}</div>
                                    </div>
                                </div>
                            {% endif %}
                            {% if score.biology %}
                                <div class="row">
                                    <h6 class="col-5">Biology: </h6>
                                    <div class="progress col-7 mb-4 p-0" role="progressbar" aria-label="Example with label" aria-valuenow="{{score.biology}}" aria-valuemin="30" aria-valuemax="100">
                                        <div class="progress-bar bg-Info" style="width:{{score.biology}}%;">{{score.biology}}</div>
                                    </div>
                                </div>
                            {% endif %}
                            {% if score.chemistry %}
                                <div class="row">
                                    <h6 class="col-5">Chemistry: </h6>
                                    <div class="progress col-7 mb-4 p-0" role="progressbar" aria-label="Example with label" aria-valuenow="{{score.chemistry}}" aria-valuemin="30" aria-valuemax="100">
                                        <div class="progress-bar bg-Info" style="width:{{score.chemistry}}%;">{{score.chemistry}}</div>
                                    </div>
                                </div>
                            {% endif %}
                            <div class="row">
                                <h6 class="col-5">Average: </h6>
                                <div class="progress col-7 mb-4 p-0" role="progressbar" aria-label="Example with label" aria-valuenow="{{score.average}}" aria-valuemin="30" aria-valuemax="100">
                                    <div class="progress-bar bg-Info" style="width:{{score.average}}%;">{{score.average}}%</div>
                                </div>
                            </div>
                            <h4>Rank: {{ score.rank }}</h4>
                        </div>
                    {% endfor %}
                {% else %}
                        <div class="container rounded shadow-lg p-4">
                            <h4 class="text-danger">Your scores are not published yet!</h4>
                        </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>

{% endblock %}