/* CSS for normal state */
.cont {
  border: 2px solid #ccc;
  border-radius: 25px;
  padding: 20px;
}

/* max width for images */
.max-height-500{
  max-height: 500px;
}

/* Shadows */
.shadow-xlg {
  box-shadow: 13px 12px 16px rgba(0, 0, 0, 0.8)
}



/* Navigation Bar */
.container .navbar-toggler {
  background-color: #69c3b2;
}
.navbar-nav .nav-link {
    transition: 1s; /* Add smooth transition effect */
  }
.navbar-nav .nav-link:hover {
    border-radius: 0.31rem;
    color: #f8eeee; /* Set the hover text color */
    background-color: #3d3d3d;
    border: 0 2px 2px 0 #ffff;
}


/* Card section */
.card {
  overflow: hidden;
}

.card-img-top {
  transition: transform 0.7s ease;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0);
}
.card:hover img {
  transform: scale(1.1);
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3);
}

.sidebar {
  padding: 17px;
  position: sticky;
  top: 0;
  max-height: 100vh;
}
.sidebar .nav-link {
    color: #fff9f9;
}


/* login form  */
.gradient {
  /* fallback for old browsers */
  background: #fccb90;
  
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(to right, #26e2f0, #3661d8, #3936dd, #b44593);
  
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(to right,  #26e2f0, #3661d8, #3936dd, #b44593);
}



