/* CSS for normal state */
.navbar-nav .nav-link {
    color: #000; /* Set the default text color */
    transition: color 1s; /* Add smooth transition effect */
  }
.navbar-nav .nav-link:hover {
    border-radius: 0.31rem;
    color: #ffffff; /* Set the hover text color */
    background-color: #8400ff;
}


/* max width for images */
.max-height-500{
  max-height: 500px;
}


/* login form  */
.gradient {
  /* fallback for old browsers */
  background: #fccb90;
  
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593);
  
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593);
}

.cont {
  border: 2px solid #ccc;
  border-radius: 25px;
  padding: 20px;
}